<!-- Barra de navegacao superior -->
<nav class="fixed-top navbar rounded navbar-expand-sm bg-light navbar-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/elenco">Elenco</a>
    </li>
    <li class="nav-item" rounterLinkActive="active">
      <a class="nav-link" routerLink="/filmes">Filmes</a>
    </li>
  </ul>
</nav>
